!!!
%html
  %head
    %link{:href=>'/css/layout.css', :rel=>"stylesheet"}
  %body
    %h1 Woot
    %ul
      -@commits.each do |commit|
        - if commit.kind_of? Array
          %li 
            = "#{commit.length} commits"
            %ul      
              - commit.each do |c|
                %li
                  %span.project= c['value']['repository']
                  %span.message= c['value']['message']
                  %span.date= c['value']['authored_date']
        - else
          %li
            %span.project= commit['value']['repository']
            %span.message= commit['value']['message']
            %span.date= commit['value']['authored_date']
       
